{% extends 'home/base.html' %} 

{% block title %}Home{% endblock %} 

{% block content %}
{% load static %}
<section class="vehicles" id="vehicles">
  <h1 class="heading">popular <span>vehicles</span></h1>

  <div class="swiper vehicles-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-1.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-2.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-3.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-4.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-5.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-6.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper vehicles-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-1.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-2.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-3.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-4.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-5.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/vehicle-6.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="price"><span>price : </span> $62,000/-</div>
          <p>
            new
            <span class="fas fa-circle"></span> 2021
            <span class="fas fa-circle"></span> automatic
            <span class="fas fa-circle"></span> petrol
            <span class="fas fa-circle"></span> 183mph
          </p>
          <a href="#" class="btn">check out</a>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="services" id="services">
  <h1 class="heading">our <span>services</span></h1>

  <div class="box-container">
    <div class="box">
      <i class="fas fa-car"></i>
      <h3>car selling</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="box">
      <i class="fas fa-tools"></i>
      <h3>parts repair</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="box">
      <i class="fas fa-car-crash"></i>
      <h3>car insurance</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="box">
      <i class="fas fa-car-battery"></i>
      <h3>battery replacement</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="box">
      <i class="fas fa-gas-pump"></i>
      <h3>oil change</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="box">
      <i class="fas fa-headset"></i>
      <h3>24/7 support</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        nisi.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>
  </div>
</section>

<section class="featured" id="featured">
  <h1 class="heading"><span>featured</span> cars</h1>

  <div class="swiper featured-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'images/car-1.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-2.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-3.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-4.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <div class="swiper featured-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'images/car-5.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-6.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-7.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/car-8.png' %}" alt="" />
        <div class="content">
          <h3>new model</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">$55,000/-</div>
          <a href="#" class="btn">check out</a>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="newsletter">
  <h3>subscribe for latest updates</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
    suscipit.
  </p>

  <form action="">
    <input type="email" placeholder="enter your email" />
    <input type="submit" value="subscribe" />
  </form>
</section>

<section class="reviews" id="reviews">
  <h1 class="heading">client's <span>review</span></h1>

  <div class="swiper review-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="{% static 'images/pic-1.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/pic-2.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/pic-3.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/pic-4.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/pic-5.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="swiper-slide box">
        <img src="{% static 'images/pic-6.png' %}" alt="" />
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
            incidunt quod praesentium iusto id autem possimus assumenda at ut
            saepe.
          </p>
          <h3>john deo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="contact" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>

  <div class="row">
    <iframe
      class="map"
      src="https://maps.google.com/maps?q=Hồ Chí Minh&t=&z=10&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <form action="">
      <h3>get in touch</h3>
      <input type="text" placeholder="your name" class="box" />
      <input type="email" placeholder="your email" class="box" />
      <input type="tel" placeholder="subject" class="box" />
      <textarea
        placeholder="your message"
        class="box"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" value="send message" class="btn" />
    </form>
  </div>
</section>
{% endblock %}
